``css
html, body, #root {
  height: 100%;
  margin: 0;
}
.leaflet-container {
  height: 100%;
  width: 100%;
}

/* small tweak to make traffic icons render crisply */
.traffic-light-icon { transform: translateZ(
